:root {
    --color-light: brown;
}

* {margin: 0;padding: 0;box-sizing: border-box;scrollbar-width: thin;scroll-behavior: smooth;}

html,body {width: 100%;height: 100%;}
body {display: flex;flex-direction: column;}

header,
footer {
    padding: 20px 0;
    background-color:aliceblue;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid var(--color-light);
    -webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
}

footer{display: flex;padding: 10px;border-top: 1px solid var(--color-light);}

main {flex: 1 1 auto;}

a {text-decoration: none;color: black;}
h2 {color: black;text-align: center;}

.logo {display: flex;justify-content: space-between;align-items: center;zoom: 150%;text-transform: uppercase;cursor: pointer;}
.logo:hover {filter: drop-shadow(0 0 5px var(--color-light));transition: filter .3s linear;}
.logo p {background-color: white;color:var(--color-light);padding: 2px 5px;}
.logo span {background-color: var(--color-light);color: white;padding: 2px 5px;}

nav {display: flex;gap: 40px;}
nav a {display: flex;flex-direction: column;}
nav a:after {content: '';border-bottom: solid 2px brown;opacity: 0;width: 100%;max-width: 0;}
nav a:hover {transform: scale(1.1);transition: transform .1s linear;}
nav a:hover:after {opacity: 1;max-width: 100%;transition: max-width .3s linear;}

.number {display: flex;flex-direction: column;font-size: 23px;}
.number a {display: flex;flex-direction: column;}
.number a:hover {transform: scale(1.1);filter: drop-shadow(0 0 10px brown);transition: transform .2s linear;}
.number p {font-size: 12px;display: flex;justify-content: end;}

#stages {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 1280px;
    margin: 20px auto;
}

.stages {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}

.stage1 .front{background: url(../style/img/1.png), aliceblue;}
.stage2 .front{background: url(../style/img/2.png), aliceblue;}
.stage3 .front{background: url(../style/img/3.png), aliceblue;background-size: 30% !important;}
.stage4 .front{background: url(../style/img/4.png), aliceblue;background-position: -90px 320px !important;}

.front {
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: -90px 50px !important;
    background-size: 60% !important;
    background-repeat: no-repeat !important;
    height: 100%;
    width: 100%;
    position: relative;
    z-index: 1;
    cursor: pointer;
    transform: perspective(1200px) rotateY(0deg);
}


.back {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    padding: 10px;
    background-color: var(--color-light);
    color: aliceblue;
    position: absolute;
    width: 100%;
    height: 100%;
    margin-top: -240px;
    cursor: pointer;
    transform: perspective(1200px) rotateY(180deg);
    -webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2) inset;
    -moz-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2) inset;
    box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2) inset;
}

.stage4 .back {margin-top: -500px;}

.stage1:hover >.front,
.stage2:hover >.front,
.stage3:hover >.front,
.stage4:hover >.front {
    transform: perspective(1200px) rotateY(-180deg);
    z-index: -1;
    transition: all .2s linear;
}

.stage1:hover >.back,
.stage2:hover >.back,
.stage3:hover >.back,
.stage4:hover >.back {
    transform: perspective(1200px) rotateY(0deg);
    transition: all .2s linear;
}

.stage1 {
    grid-area: 1 / 1 / 2 / 2;
    height: 240px;
    position: relative;
}

.stage2 {
    grid-area: 1 / 2 / 2 / 3;
    height: 240px;
    position: relative;
}

.stage3 {
    grid-area: 2 / 1 / 3 / 3;
    height: 240px;
    position: relative;
}

.stage4 {
    grid-area: 1 / 3 / 3 / 4;
    position: relative;
}















@keyframes identifier {
    0% {
        transform: rotate3d(1, 1, 1, 360deg);
    }
    80% {
        display: flex;
    }
}